fastapi==0.99.1
uvicorn==0.23.2
pydantic==1.10.13
python-multipart==0.0.6

langchain==0.0.354
langchain-community==0.0.20
langchain-openai==0.0.8
langchain-pinecone==0.0.3

pinecone-client==2.2.4
pypdf==3.17.4
python-dotenv==1.0.0
bs4==0.0.2
